# Рынок жилья

### В этот раз создадим датасет сами

### Шаг 1. Импортируем библиотеки

In [3]:
import pandas as pd
import random

### Шаг 2. Сделаем 3 разных Series длины 100:
1. Случайные числа от 1 до 4
2. Случайные числа от 1 до 3
3. Случайные числа от 10 000 до 30 000

In [9]:
list_1=pd.Series([random.randint(1,4) for i in range(1,101)])
list_2=pd.Series([random.randint(1,3) for i in range(1,101)])
list_3=pd.Series([random.randint(10000,30000) for i in range(1,101)])

### Шаг 3. Сделаем датафрейм из этих колонок

In [14]:
df=pd.DataFrame({'a':list_1,'b':list_2,'c':list_3})
print (df)

    a  b      c
0   2  3  19966
1   3  2  22634
2   4  2  18707
3   4  1  27551
4   4  1  24685
.. .. ..    ...
95  2  2  19074
96  2  2  19310
97  4  1  11025
98  1  1  18490
99  1  1  15838

[100 rows x 3 columns]

### Шаг 4. Назовите колонки bedrs (комнаты), baths (ванные), price_sqr_meter (цена за метр)

In [17]:
df.rename(columns={'a':'bedrs','b':'baths','c':'price_sqr_meter'})

    bedrs  baths  price_sqr_meter
0       2      3            19966
1       3      2            22634
2       4      2            18707
3       4      1            27551
4       4      1            24685
..    ...    ...              ...
95      2      2            19074
96      2      2            19310
97      4      1            11025
98      1      1            18490
99      1      1            15838

[100 rows x 3 columns]

### Шаг 5. Сделайте один длинный датафрейм bigcolumn из 3 Series с одной колонкой

In [26]:
# bigcolumns=pd.DataFrame({'a':list_1+list_2+list_3}) - можно ли так?
bigcolumns=pd.concat([list_1,list_2,list_3])
print (bigcolumns)

0         2
1         3
2         4
3         4
4         4
      ...
95    19074
96    19310
97    11025
98    18490
99    15838
Length: 300, dtype: int64

### Шаг 6. Кажется, индекс идет только до 99. Проверим?

In [27]:
bigcolumns.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', length=300)

### Шаг 7. Реиндексируйте датафрейм с 0 до 299

In [32]:
bigcolumns.reset_index(drop=True, inplace=False)

0          2
1          3
2          4
3          4
4          4
       ...
295    19074
296    19310
297    11025
298    18490
299    15838
Length: 300, dtype: int64