# Заказы в фастфуде Chipotle

### Шаг 1. Импортируем библиотеки.

In [2]:
import pandas as pd

### Шаг 2. Читаем датасет в переменную chipo

In [3]:
# tsv файл - это tab separated values, чтобы корректно его загрузить, укажи аргумент sep='\t'
# path = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### Шаг 3. Смотрим первые 10 записей

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Шаг 4. Сколько всего записей в датасете?

In [5]:
# Решение 1
len(chipo)

4622

In [6]:
# Решение 2
chipo.shape[0]

4622

### Шаг 5. Сколько всего колонок в датасете?

In [7]:
chipo.shape[1]

5

### Шаг 6. Выведите имена всех колонок

In [9]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Шаг 7. Как проиндексирован датасет? Выведи индекс датасета

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Шаг 8. Какое блюдо заказывали больше всего?

In [18]:
chipo['item_name'].value_counts().index[0]

'Chicken Bowl'

### Шаг 9. Сколько раз заказывали самое популярное блюдо?

In [32]:
max_dish=chipo['item_name'].value_counts().index[0]
max_dish_freq=chipo[chipo['item_name']==max_dish]['quantity'].sum()
print (max_dish_freq)

761

### Шаг 10. Какой ингредиент в колонке choice_description заказывали больше всего?

In [36]:
chipo.explode('choice_description_fix')['choice_description_fix'].value_counts(dropna=False)

Rice                                    2389
Cheese                                  2281
Lettuce                                 1742
Sour Cream                              1711
Black Beans                             1342
NaN                                     1246
Fresh Tomato Salsa                      1046
Guacamole                               1037
Fajita Vegetables                        722
Pinto Beans                              582
Roasted Chili Corn Salsa                 457
Fresh Tomato Salsa (Mild)                351
Tomatillo Red Chili Salsa                325
Fajita Veggies                           302
Roasted Chili Corn Salsa (Medium)        270
Tomatillo-Red Chili Salsa (Hot)          259
Tomatillo Green Chili Salsa              230
Diet Coke                                134
Tomatillo-Green Chili Salsa (Medium)     128
Coke                                     123
Sprite                                    77
Lemonade                                  33
Fresh Tomato (Mild)                       31
Coca Cola                                 26
Nestea                                    20
Dr. Pepper                                18
Mountain Dew                              15
Diet Dr. Pepper                           13
Pineapple Orange Banana                    8
Blackberry                                 8
Peach Orange                               8
Clementine                                 8
Cilantro-Lime Rice                         7
Apple                                      6
Salsa                                      6
White Rice                                 5
Adobo-Marinated and Grilled Chicken        5
Pomegranate Cherry                         5
Adobo-Marinated and Grilled Steak          4
Grapefruit                                 4
Vegetarian Black Beans                     3
Roasted Chili Corn (Medium)                3
Tomatillo Red Chili (Hot)                  3
Braised Barbacoa                           2
Brown Rice                                 2
Tomatillo Green Chili (Medium)             2
Braised Carnitas                           1
Name: choice_description_fix, dtype: int64

### Шаг 11. Сколько суммарно блюд было заказано?

In [38]:
chipo['quantity'].sum()

4972

### Шаг 12. Измени тип колонки `price` в `float`

In [62]:
for i in range(len(chipo['item_price'])):
             chipo.iloc[i,4]=chipo.iloc[i,4].replace('$','')
             chipo.iloc[i,4]=float(chipo.iloc[i,4])
chipo.iloc[2,4]

3.39

### Шаг 13. Сколько денег суммарно было получено?

In [68]:
revenue= chipo['item_price'].sum()
revenue

34500.16000000046

### Шаг 14. Сколько заказов суммарно было сделано?

In [70]:
chipo['quantity'].sum()

4972

### Шаг 15. Какая средняя цена заказа?

In [74]:
# Решение 1

av_price=revenue/chipo['order_id'].nunique()
print (av_price)

18.811428571428824

In [83]:
# Решение 2

### Шаг 16. Сколько _разных_ блюд было продано?

In [85]:
chipo['item_name'].nunique()

50