# Заказы в фастфуде Chipotle

### Шаг 1. Импортируем библиотеки.

In [1]:
import pandas as pd

### Шаг 2. Прочитаем датасет в переменную chipo

In [1]:
# path = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
# уже знаете откуда взять данные?)

In [86]:
chipo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Шаг 3. Сколько блюд стоят больше $10.00?

In [ ]:
for i in range(len(chipo['item_price'])):
    chipo.iloc[i,4]=chipo.iloc[i,4].replace('$','')
    chipo.iloc[i,4]=float(chipo.iloc[i,4])

In [48]:
bool_price=chipo['item_price']>10
chipo.loc[bool_price,'item_name'].count()

1130

### Шаг 4. Сколько стоит каждое блюдо?
###### выведите датафрейм с колонками item_name и item_price

In [60]:
menu=chipo[['item_name','item_price']]
menu

                                  item_name item_price
0              Chips and Fresh Tomato Salsa       2.39
1                                      Izze       3.39
2                          Nantucket Nectar       3.39
3     Chips and Tomatillo-Green Chili Salsa       2.39
4                              Chicken Bowl      16.98
...                                     ...        ...
4617                          Steak Burrito      11.75
4618                          Steak Burrito      11.75
4619                     Chicken Salad Bowl      11.25
4620                     Chicken Salad Bowl       8.75
4621                     Chicken Salad Bowl       8.75

[4622 rows x 2 columns]

### Шаг 5. Сортируем по названию блюда

In [56]:
menu.sort_values(by='item_name')

              item_name item_price
3389  6 Pack Soft Drink      12.98
341   6 Pack Soft Drink       6.49
1849  6 Pack Soft Drink       6.49
1860  6 Pack Soft Drink       6.49
2713  6 Pack Soft Drink       6.49
...                 ...        ...
2384  Veggie Soft Tacos       8.75
781   Veggie Soft Tacos       8.75
2851  Veggie Soft Tacos       8.49
1699  Veggie Soft Tacos      11.25
1395  Veggie Soft Tacos       8.49

[4622 rows x 2 columns]

### Шаг 6. Сколько раз заказывали самое дорогое блюдо?

In [82]:

chipo['dish_price']=chipo['item_price']/chipo['quantity']
max_price=chipo.sort_values(by='dish_price', ascending=False)['dish_price'].iloc[0]
chipo.loc[chipo['dish_price']==max_price,'quantity'].sum()

30

### Шаг 7. Сколько раз заказывали Veggie Salad Bowl?

In [85]:
bool_salad=chipo['item_name']=='Veggie Salad Bowl'
chipo.loc[bool_salad,'quantity'].sum()

18

### Шаг 8. В скольких заказах присутствует больше одной Canned Soda?

In [94]:
bool_soda=chipo['item_name']=='Canned Soda'
bool_quant=chipo['quantity']>1
chipo.loc[bool_soda&bool_quant,'item_name'].count()

20